<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>AI-demo</title>
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
<!-- ヘッダー -->
<ul id="nav">
    <span style="margin-right: 20px;"><a style="color: white; text-decoration: none;" href="#">AI Demo</a></span>
</ul>
<!-- ヘッダー ここまで -->
<div class="wrapper">
    <!-- タイトル -->
    {% with 'main/img/'|add:project.name|add:'.png' as image_static %}
    <h1 class="float"><img src="{% static image_static %}" width="130">{{ project.name }}</h1>
    {% endwith %}
    <p>{{ project.description }}</p>
    <div id="border"></div>
    <!-- タイトル ここまで -->

    <!-- アップロード画面 -->
    <a href="javascript:OnLinkClick();" id="upload-btn" class="btn-flat-border">画像をアップロード</a>
    <form >
        <input id="upload-file" type="file">
    </form>
    <div id="preview">
        <img src="{% static 'main/img/upload.png' %}" width="600">
    </div>
    <!-- アップロード画面 ここまで -->

    <!-- 結果画面 -->
    <h2 id="result-title">Result</h2>
    <div id="result">
    </div>
	<!-- 結果画面 ここまで -->
</div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $.format = function(format){
        var i = 0,
            j = 0,
            r = "",
            next = function(args){
                j += 1; i += 1;
                return args[j] !== void 0 ? args[j] : "";
            };

        for(i=0; i<format.length; i++){
            if(format.charCodeAt(i) === 37){
                switch(format.charCodeAt(i+1)){
                    case 115: r += next(arguments); break;
                    case 100: r += Number(next(arguments)); break;
                    default: r += format[i]; break;
                }
            } else {
                r += format[i];
            }
        }
        return r;
    };

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

{% if task_type == "classification" %}
<script>
    function inference_ajax(encode_image){
        $.ajax({
            type: 'POST',
            url: './',
            dataType: 'json',
            'data': {
	            'encode_image': encode_image,
                'csrfmiddlewaretoken': getCookie('csrftoken'),
            },
            success: function (response) {
                $('#result-title').show();
                $('#result').empty();
                var html = '';
                html += '<table width="70%">';
                html += '<tr><th>Label</th><th>Prob</th></tr>';
                $.each(response["predict"], function(i, val) {
                    html += $.format('<tr><td align="center">%s</td><td align="center">%s %</td></tr>', val["label"], String(val["prob"].toFixed(1)));
                });
                $("#result").append(html);
            }
        });
    }
</script>

{% elif task_type == "detection" %}
<script>
    function inference_ajax(encode_image){
        $.ajax({
            type: 'POST',
            url: './',
            dataType: 'json',
            'data': {
	            'encode_image': encode_image,
                'csrfmiddlewaretoken': getCookie('csrftoken'),
            },
            success: function (response) {
                var html = $.format('<img src="data:image/jpeg;base64,%s" />', response["image"]);
                $("#preview").empty();
			    $("#preview").append(html);

                $('#result').empty();
                var html = ""
                $.each(response["predict"], function(i, val) {
                    html += $.format('<img src="data:image/jpeg;base64,%s" />', val["trim_img"]);
                    html += $.format('<p>%s</p>', val["label"]);
                    html += $.format('<p>%s</p>', String(val["score"].toFixed(1)));
                });
                $("#result").append(html);
            }
        });
    }

    $('#upload-files').on('change', function(e) {
        var encode_image = ""
        var file = e.target.files[0];
		var fr = new FileReader();
        fr.onload=function(evt) {
            encode_image = evt.target.result;
            var html = $.format('<img src="%s" />', evt.target.result);
            $("#preview").empty();
			$("#preview").append(html);
            inference_ajax(encode_image);
		}
        fr.readAsDataURL(file)
    });
</script>

{% elif task_type == "segmentation" %}
<script>
    function inference_ajax(encode_image){
        $.ajax({
            type: 'POST',
            url: './',
            dataType: 'json',
            'data': {
	            'encode_image': encode_image,
                'csrfmiddlewaretoken': getCookie('csrftoken'),
            },
            success: function (response) {
                var html = $.format('<img src="data:image/jpeg;base64,%s" />', response["overray_image"]);
                $("#preview").empty();
			    $("#preview").append(html);

                $('#result').empty();
                var html = $.format('<img src="data:image/jpeg;base64,%s" />', response["mask"]);
                $("#result").append(html);
            }
        });
    }

    $('#upload-files').on('change', function(e) {
        var encode_image = ""
        var file = e.target.files[0];
		var fr = new FileReader();
        fr.onload=function(evt) {
            encode_image = evt.target.result;
            var html = $.format('<img src="%s" />', evt.target.result);
            $("#preview").empty();
			$("#preview").append(html);
            inference_ajax(encode_image);
		}
        fr.readAsDataURL(file)
    });
</script>
{% endif %}

<script>
    $('#result-title').hide();
    function OnLinkClick() {
        $('#upload-file').click();
        return false;
    }

    $('#upload-file').on('change', function(e) {
        var encode_image = ""
        var file = e.target.files[0];
		var fr = new FileReader();
        fr.onload=function(evt) {
            encode_image = evt.target.result;
            var html = $.format('<img src="%s" />', evt.target.result);
            $("#preview").empty();
			$("#preview").append(html);
            inference_ajax(encode_image);
		}
        fr.readAsDataURL(file)
    });
</script>